header {
  min-height: 400px;
  background-color: transparent;
  margin: 0 auto;
  padding: 50px 0 0 0;
  @media screen and (max-width: 690px) {
    width: 100%;
  }

  h1 {
    font-family: $font1;
    color: $color1;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    width: 700px;
    margin: 100px auto;
    font-size: 3rem;
    @media screen and (max-width: 690px) {
      font-size: 2rem;
      width: 100%;
    }
  }

  p {
    font-style: italic;
    color: $color1;
    text-align: center;
    margin: 20px;
    font-size: 1.5rem;
  }

  button {
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid $color1;
    padding: 10px;
    border-radius: 50px;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    background: transparent;
    margin-top: 90px;
  }

  .arrow {
    display: flex;
    justify-content: center;
    color: $color1;
  }
}
