nav {
  display: flex;
  justify-content: space-between;
  background-color: $color4;
  margin-top: 90px;
  height: 40px;

  .right-side {
    width: 30%;
  }
  ul {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
  }

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
      background: $color6;
    }
  }

  a {
    color: $color1;
    font-family: $font1;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.8rem;
    height: auto;
    padding: 10px;

    &:hover {
      color: $color5;
    }
  }
}
